@import '~antd/lib/style/themes/default.less';
@import (reference) '~@/css/common.less';
.finish_box {
  .content-box-shadow;
  padding: 120px 5%;
  .finish_remark {
    display: flex;
    justify-content: space-between;
  }
  .finish_item {
    line-height: 32px;
    margin-bottom: 24px;
    padding-right: 10px;
  }
  .btn_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
  }
}

.right_col {
  display: flex;
  justify-content: center;
  align-items: center;
  .right_bg {
    width: 375px;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    position: relative;
    .right_info{
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 92%;
      left: 8%;
      top: 142px;
      padding: 0 10px;
      justify-content: space-between;
      height: 128px;
      .right_word{
        width: 100%;
        span{
          color: #444;
          font-weight: bold;
        }
        p{
          font-size: 12px;
          color: #999;
          padding-top: 5px;
        }
      }
      .right_step{
        width: 100%;
        display: flex;
        p{
          color: #4A4A4A;
        }
        p:first-child{
          width: 70px;
        }
        p:last-child{
          margin-left: 20px;
        }
      }
    }
    .content_box {
      width: 92%;
      height: 162px;
      background-repeat: no-repeat;
      background-size: 100% auto;
      top: 270px;
      left: 4%;
      padding-top: 20px;
      position: absolute;
      z-index: 97;
      .right_title{
        z-index: 98;
        width: 160px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        font-weight: 500;
        color: #fff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        top: -15px;
        transform: translate(-50%);
      }
      .right_btn{
        z-index: 98;
        width: 160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #000;
        font-weight: 700;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%);
      }
      .task_name {
        text-align: center;
      }
      .task_tips {
        padding: 10px 20px 0;
        .tip_item {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
/*任务弹窗*/
.content_view_box{
  width: 330px;
  height: 450px;
  background: url("https://oneroad-other.oss-cn-hangzhou.aliyuncs.com/modal_bg_20220517.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 160px;
  left: 38px;
}
.content_view_item_box{
  width: 263px;
  height: 132px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(253, 156, 14, 0.4);
  overflow-y: auto;
  margin: 200px 0 18px 18px;
  padding: 12px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #8A5200;
  line-height: 22px;
}
.content_view_btn{
  width: 243px;
  height: 62px;
  margin-left: 34px;
  text-align: center;
  background: url("https://oneroad-other.oss-cn-hangzhou.aliyuncs.com/modal_btnBg_20220517.png") no-repeat;
  background-size: 100% 100%;
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 50px;
}
.content_view_check_box{
  img{
    width: 14px;
    height: 14px;
    margin-right: 4px;
  }
  font-size: 13px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FD9C0E;
  padding-left: 112px;
}
.content_view_item_prize{
  height: 20px;
  font-size: 12px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #FD9C0E;
  img{
    width: 16px;
    height: 16px;
    margin:0 4px 2px 0;
  }
}
