.btn_content{
  text-align: right;
  .confirm_btn{
    margin-right: 10px;
  }
}
.pic_content{
  width: 150px;
  height: 88px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #eee;
  color:#999;
  cursor: pointer;
  display:inline-block;
}
.tip{
  margin-top: 10px;
}
.pic_gap{
  margin: 0 20px;
}
.pic_gap_content{
  width: 150px;
  height: 88px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #eee;
  color:#999;
  cursor: pointer;
  display:inline-block;
  margin: 0 20px;
}
.delPic{
  position: absolute;
  top: -6px;
  right: -9px;
  font-size: 18px;
}
.image_url{
  display: flex;
}

.imgowen{
  width: 135px;
  height: 135px;
  margin-left: 20px;
}

.guarantee{
  display: flex;
}

.fontSize{
  color :red;
  margin-left: -5px;
}

.fontNameSize{
  color :rgb(83, 83, 201);
}